# ide
.codex/
.cursor/
.github/
.idea/
.trae/
.vscode/
.workbuddy/

# mac
.DS_Store
__pycache__
.env
.env.bak.*

# google
_bad_scm/
.cipd/
.fetch/

# custom
.arupa-delivery-compile/
backup/
dist/
docs/
arupa_desktop/
